<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Club House</title>
  </head>
  <body>
    <h1>WELCOME TO THE CLUB-HOUSE.</h1>
    <% if(locals.user) {%>
      Welcome back <%= user.firstname %>
      <br>
      <button><a href="/add-message">Add messages</a></button>
      <br>
      <button><a href="/log-out">Log Out</a></button>
      <% } else{ %> 
        Log-in to add messages.
    <form action="/log-in" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Log-in</button>
    </form>
    <a href="/sign-in">I don't have an account!!</a>
    <% } %>
    <ul>
    <% locals.messages.map(message => { %>
      <li> <%= message.message %></li>
      <% }); %>
    </ul>
  </body>
</html>
